<div class="h-100 py-2 px-5">

    <h1>Mes activités</h1>

    <div class="d-flex flex-row align-items-center bd-highlight">
        <div class="me-auto p-2 bd-highlight">
            <button class="btn btn-outline-success" (click)="getAllProjects()" ata-bs-toggle="tooltip"
                data-bs-placement="top" title="Rafraichir">
                <fa-icon [icon]="faRotateRight" [pulse]="pulseReload"></fa-icon>
            </button>
        </div>
        <div class="p-2 bd-highlight">
            <button class="btn btn-outline-primary" (click)="getAllProjects()" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Semaine précédente">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
            </button>
        </div>
        <div class="p-2 bd-highlight">
            <span>Semaine du 01/01/2023 au 07/01/2023</span>
        </div>
        <div class="p-2 bd-highlight">
            <button class="btn btn-outline-primary" (click)="getAllProjects()" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Semaine suivante">
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
        </div>
        <div class="p-2 bd-highlight">
            <button class="btn btn-outline-success" (click)="getAllProjects()" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Valider la semaine">
                <fa-icon [icon]="faCloudArrowUp"></fa-icon>
            </button>
        </div>
        <div class="p-2 bd-highlight">
            <button class="btn btn-outline-success" (click)="getAllProjects()" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Enregistrer la saisie">
                <fa-icon [icon]="faFloppyDisk"></fa-icon>
            </button>
        </div>
    </div>

    <div class=" d-flex flex-row bd-highlight mb-3">
        <app-tasks class="w-100"></app-tasks>
    </div>
</div>