<h1>Projets</h1>
<div class="row">
    <div class="card col-3 m-3" *ngFor="let project of $projects | async">
        <!-- <img class="card-img-top" src="{{ 'https://robohash.org/' + project.name + '.png?set=set3' }}"
            alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let task of project.tasks">{{ task.name }}</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>